@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin headingTextFlex {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

@mixin headingFlex {
  display: flex;
  justify-content: space-between;
}

@mixin backgroundImg($url) {
  background: url(#{$url}) center / cover no-repeat;
}

@mixin hoverEffect {
  cursor: pointer;
}
