@import "fonts";
@import "variables";
@import "mixins";
@import "globalStyles";

header {
  height: 100vh;
  @include backgroundImg("../img/div-header.png");
  color: white;
}

nav {
  @include flexBetween;
  padding: 2.5rem 3rem;
}

.logo:hover {
  text-decoration: underline;
  @include hoverEffect;
}

nav > img:hover {
  @include hoverEffect;
}

.heading-center {
  @include headingTextFlex;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.heading-left {
  @include headingTextFlex;
  justify-content: start;
}

.heading {
  @include headingFlex;
}
